<div class="change-password-wrapper">
  <h2>Change Password</h2>

  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" novalidate>
    <div>
      <label>Current Password</label>
      <input type="password" formControlName="currentPassword" />
      <div class="error" *ngIf="submitted && f['currentPassword'].invalid">
        <p *ngIf="f['currentPassword'].errors?.['required']">Current password is required</p>
        <p *ngIf="f['currentPassword'].errors?.['minlength']">Minimum 6 characters</p>
      </div>
    </div>

    <div>
      <label>New Password</label>
      <input type="password" formControlName="newPassword" />
      <div class="error" *ngIf="submitted && f['newPassword'].invalid">
        <p *ngIf="f['newPassword'].errors?.['required']">New password is required</p>
        <p *ngIf="f['newPassword'].errors?.['minlength']">Minimum 6 characters</p>
      </div>
      <div class="error" *ngIf="changePasswordForm.errors?.['sameAsCurrent']">
        <p>New password should not be the same as current password</p>
      </div>
    </div>

    <div>
      <label>Confirm New Password</label>
      <input type="password" formControlName="confirmPassword" />
      <div class="error" *ngIf="submitted && f['confirmPassword'].invalid">
        <p>Confirm password is required</p>
      </div>
      <div class="error" *ngIf="changePasswordForm.errors?.['confirmMismatch']">
        <p>Passwords do not match</p>
      </div>
    </div>

    <button type="submit" [disabled]="isLoading">
      {{ isLoading ? 'Updating...' : 'Change Password' }}
    </button>
  </form>
   <a routerLink="/login" class=" mt-2 btn btn-primary">Back To Login</a>
  <div *ngIf="successMessage" class="alert success">{{ successMessage }}</div>
  <div *ngIf="errorMessage" class="alert error">{{ errorMessage }}</div>
</div>
